pydantic>=2.9.2
openai>=2.2.0
tiktoken==0.11.0
anthropic[bedrock]>=0.69.0
diskcache==5.6.3
observable==1.0.3
sounddevice>=0.5.2
cffi<2.0.0
numpy
soundfile
pyyaml
structlog>=25.3.0
httpx>=0.27
sqlalchemy>=2.0.43
aiosqlite>=0.19.0
email-validator
fastapi>=0.115.12
fastapi-pagination>=0.13.1
fastapi-versioning>=0.10.0
fastapi-jwt-auth>=0.5.0
structlog>=25.3.0
pyhumps>=3.8.0
spectree>=1.4.7
fastapi-utils>=0.8.0
uvicorn==0.34.0
pydantic-settings==2.6.0
weaviate-client>=4.16.1 # Also used by agent_c-rag
python-multipart
markitdown==0.0.2
aiofiles
fastapi-cache2>=0.2.2
redis>=5.0.0
sqlalchemy>=2.0.43
aiosqlite>=0.19.0
python-jose[cryptography]
python-multipart
bcrypt==4.0.1
passlib[bcrypt]
pandas==2.2.3 # googletrends, dynamics, database_query/dynamics/salesforce
mermaid-py==0.6.0 # mermaid
feedparser==6.0.11 # rss
readability-lxml==0.8.1 # web
markdownify==0.13.1 # web
selenium==4.25.0 # web, dynamics
httpx>=0.27 # weather, web
duckduckgo_search==7.5.5 # web_search-duckduckgo
google-search-results==2.4.2 # web_search-google_serp
pytrends==4.9.2 # web_search-google_trends
requests==2.32.3 # web_search-hacker_news, Youtube_Comments/Search
newsapi-python==0.2.7 # web_search-news_api
beautifulsoup4==4.12.3 # web_search-seeking_alpha
aiohttp==3.10.10 # web_search-seeking_alpha
tavily-python==0.5.0 # web_search-tavily
wikipedia==1.4.0 # web_search-wikipedia
lxml_html_clean
aiobotocore>=2.21.1
azure-storage-blob>=12.25.1
azure-core>=1.32.0
unidiff>=0.7.5
markdown # markdown html report tool
beautifulsoup4==4.12.3 # dynamics (overlap agent_c_tools)
pytz==2024.2 # dynamics
lxml==5.3.0 # dynamics (overlaps agent_c_voice)
lxml_html_clean==0.2.2 # Dynamics (overlaps agent_c_voice)
openpyxl==3.1.5 # dynamics, dataframe
pyyaml>=6.0 # Configuration file support
python-docx==1.1.2 # markdown html report tool
sqlparse # database_query, mariadb
mysql-connector-python
pytest-playwright
sympy
matplotlib
pdfplumber
matplotlib==3.9.2 # data_vis
seaborn==0.13.2 # data_vis
docker==7.1.0 # code_interpreter,
#ydata_profiling==4.16.1 # dataframe
scikit-learn==1.5.2  # dataframe
google-api-python-client==2.149.0     # Core Google API client
google-auth-httplib2==0.2.0        # Auth library for HTTP/2
google-auth-oauthlib==1.2.1        # OAuth 2.0 library
google-auth==2.35.0                # Google authentication library
python-dateutil>=2.8.2            # For handling GMAIL dates and times
email-validator==2.2.0           # For validating email addresses
simple_salesforce==1.12.6 # salesforce
linkedin-api==2.0.3 # linked_in
requests==2.32.3 # youtube
youtube_transcript_api==1.0.3 # YouTube_Transcript
huggingface_hub==0.33.0